<% title "Role" %>

<p>
  <strong>Rolename:</strong>
  <%=h @role.roleName %>
</p>
<p>
  <strong>Roledescription:</strong>
  <%=h @role.roleDescription %>
</p>

<p>
  <% if (can? :edit, Role) %>
      <%= link_to "Edit", edit_role_path(@role) %> |
  <% end %>
  <% if (can? :delete, Role) %>
      <%= link_to "Destroy", @role, :confirm => 'Are you sure?', :method => :delete %> |
  <% end %>
  <%= link_to "View All", roles_path %>
</p>
